//extend
.boton2{
    margin-top: 40px;
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(238, 60, 60);
}

.boton3{
  @extend .boton2;
}

//mixin
@mixin button-style($bg-color){
  background-color: $bg-color;
}

.boton3{
  @include button-style (red)
}